.tabs1{
    
    display: flex;
    flex-direction: row;
    position: absolute;
    
    bottom: 11rem;
    left: 4rem;
    margin-top: 2rem;
    
  
}
.tabs{
    border: 1px solid black;
    height: 2.5rem;
    width: 8rem;
    margin-left: 4rem;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-left: 6rem;
    background-color: rgb(212, 194, 194);
}
.mainT{
    width: 90%;
    height: 12rem;
    margin: auto;
    background-color: gray;
    border: 2px solid black;
}
@media (max-width: 767.98px) { 
    .tabs1{
    
        display: flex;
        flex-direction: row;
        position: absolute;
       
        bottom: 11rem;
        left: 0;
        margin-top: 2rem;
        
      
    }
    .tabs{
        border: 1px solid black;
        height: 2.5rem;
        width: 4rem;
        
        border-radius: 4px;
        text-align: center;
        align-items: center;
        margin: auto;
        margin-left: 1rem;
    }

 }
 @media (max-width: 991.98px) and (min-width: 770px) { 
    .tabs1{
    
        display: flex;
        flex-direction: row;
        position: absolute;
       width: 40rem;
        bottom: 11rem;
        left: 2.5rem;
        margin-top: 2rem;
        
      
    }
    .tabs{
        border: 1px solid black;
        height: 2.5rem;
        width: 6rem;
        
        border-radius: 4px;
        text-align: center;
        align-items: center;
        margin: auto;
        margin-left: 1rem;
    }
    
  }